<h1>Guestbook</h1>

<%= link_to new_message_path class: 'btn btn-primary' do %>
	<i class="glyphicon glyphicon-pencil"></i> Sign the Guestbook
<% end %>

<ul> 
	<% @messages.each do |message| %>
		<li>
		<%= message.created_at.strftime("On %d/%m/%Y #{message.name} wrote:") %> 
		</li>
		<li>
		<%= message.comment %>
		</li>
<% end %>
</ul>
