<h1>Guestbook</h1>

<table> 
	<tr>
		<th>Name</th>
		<th>Country</th>
		<th>City</th>
		<th>Comment</th>
	</tr>
	
	<% @messages.each do |message| %>
		<tr>
			<td><%= message.name %></td>
			<td><%= message.country %></td>
			<td><%= message.city %></td>
			<td><%= message.comment %></td>
		</tr>
	<% end %>
</table>

