<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-sm-offset-3">
			<p><%= link_to "Home", home_path %></p>
			<p><%= link_to "News From Nowhere", controller: 'theme_titles' %></p>
			<p><%= link_to "Add Theme Title", new_theme_title_path %></p>
		</div> 
	</div> 
</div> 
