// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sidebar.affix {
	position: fixed;
	top:33%;
	width:8%;
}


td#right {
	text-align: right;
}

td#left {
	text-align: left;
}

.borderless>thead>tr>th, 
.borderless>tbody>tr>th, 
.borderless>tfoot>tr>th, 
.borderless>thead>tr>td, 
.borderless>tbody>tr>td, 
.borderless>tfoot>tr>td {
	border-top: none; 
}
