// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body { 
	height: 100%;
	width: 100%;
}

#video {
    z-index: -1;
		width: 100%;
		height: 100%;
		rightmargin: 0; 
		leftmargin: 0;
		bottommargin: 0;
		topmargin: 0; 
}

#mimi {
    position: absolute;
    left: 85px;
    top: 63px;
    width: 166px;
    height: 75px;
    z-index: 999999;
}
